extends layout
block content
	h2 Crear Producto
	p
		input(type='text', name='producto',id='producto', placeholder='Nombre del producto')
	p
		input(type='button', name='btnaddprod', id='btnaddprod', value='Crear Producto')
		input(type='button', name='btnlistarprod', id='btnlistarprod', value='Listar Producto')
				
		h2 Elige tu héroe
		ul#productos