doctype 5
html(lang="es")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/jquery-1.6.4.min.js")
		script(src="/javascripts/view.index.js")
		
	body
		block content